#topbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  padding-right: 3%;
  padding-left: 3%;
}
#menu {
  display: flex;
  /* justify-content: space-between; */
  border: 1px solid gray;
}
#menuImage {
  width: 50%;
  margin-left: 0px;
}
#menuLink {
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
}

.no-bullets {
  list-style-type: none;
}

#users {
  border-left: 1px solid gray;
  padding-left: 13px;
  padding-right: 3px;
}

#dashboardEquity {
  /* color: gray; */
  border-right: 1px solid gray;
}
#dashboardholdings {
  /* color: gray; */
  border-right: 1px solid gray;
}

.holdingsPara {
  font-size: 15px;
}

.openBook {
  width: 100%;

  font-size: 100px;
  text-align: center;
}
#orederBtn {
  margin-left: 480px;
}
#footerHodings {
  display: flex;
  justify-content: space-around;
}
#fundHero {
  display: flex;
  justify-content: end;

  vertical-align: middle;
}
#fundBottom {
  border: 1px solid gray;
  width: 40%;
}
.menu {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 70);
}

.menu.selected {
  color: rgb(245, 104, 52);
}

.search {
  width: 80%;

  /* margin-left: 12px; */
  border: none;
  padding: 15px 20px;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(18, 6, 6, 0.774);
}
.search:focus {
  outline: none;
  border: 1px solid transparent;
}
table .profit {
  color: rgb(72, 194, 55) !important;
}

table .loss {
  color: rgb(194, 55, 55) !important;
}
.item:hover {
  cursor: pointer ;
}
.percent {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(146, 146, 146);
}
.list {
  list-style-type: none;
  padding-bottom: 12%;
}

.list {
  border-bottom: 0.8px solid rgba(27, 2, 2, 0.7);
  padding: 12px 10px 12px 14px;
  position: relative;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.8rem;
  position: relative;
}

.item-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item-info > * {
  margin-right: 8px;
}

.item-info span:nth-child(1) {
  color: rgb(141, 141, 141);
  flex: 1;
}

.item-info span:nth-child(2) {
  color: rgb(223, 73, 73);
  margin-right: 12px;
  flex: 2;
}

.item-info span:nth-child(3) {
  color: rgb(223, 73, 73);
  flex: 1;
}
.down {
  color: rgb(223, 73, 73);
}

.up {
  color: rgb(103, 201, 136);
}


.list:hover {
  cursor: move;
  background-color: #f3f3f3;
}
.action:hover {
  background-color: rgb(212, 212, 212);
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  display: none;
}

.actions span button {
  width: 40px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  margin-right: 8px;
  cursor: pointer;
}

.buy {
  background-color: #4184f3;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  border: 0.7px solid #4184f3;
  border-radius: 5px;
}

.sell {
  background-color: #ff5722;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  border: 0.7px solid #ff5722;
   border-radius: 5px;
}

.action {
  background-color: #fff;
  border: 0.7px solid #9b9b9b;
  border-radius: 15px;
  font-weight: 400;
  font-size: 0.8rem;
}

.icon {
  transform: scale(0.7);
  color: rgb(65, 65, 65);
  
}
.list li:hover > .actions {
  display: flex;
  cursor: move;
}
.list li::before {
  content: "";
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}